<div class="cube">
  <img class="cube" src="/static/assets/{{ imageUrl }}">
  {{!-- <img class="cube" src="{{ imageUrl }}"> --}}
  <p class="name">{{name}}</p>
  <p><span>Price: {{price}}</span>$</p>
  <div class="buttons">
    <a class="btn" href="/details/{{id}}">Details</a>
    <button class="btn more">Show more</button>
  </div>
  <div class="desc">
    <p>{{description}}</p>
  </div>
</div>